$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  height: 5000px;
}

/* == HEADER ==*/
section.header {
  height: 100vh;
  background: cover;
}

// style to burger box:
// add in the menu and animation
