$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

// import the nav button:
@import "hamburgers.scss";

// REF:
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

// /* Small devices (tablets, 768px and up) */
// @media (min-width: @screen-sm-min) {}

// /* Medium devices (desktops, 992px and up) */
// @media (min-width: @screen-md-min) {}

// /* Large devices (large desktops, 1200px and up) */
// @media (min-width: @screen-lg-min) {}

/* ==++ GLOBALS ++==*/

body {
  height: 5000px;
}

hr {
  border: 1px solid red;
  width: 80px;
}

.intro-header {
  margin-top: 25px;
  margin-bottom: 25px;
}

/* == HEADER ==*/
section.header {
  height: 100vh;
  background: cover;

  .jumbotron {
    margin-top: 50px;
    background-color: rgba(0,0,0,0);
    color: #fff;

    button {
      color: #fff;
      background-color: rgba(0,0,0,0);
      border: 1px solid #fff;
      margin-top: 20px;
      padding: 10px 15px;
    }
  }

  /* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .jumbotron {
      margin-top: 175px;

      button {
        font-size: 1.5em;
        margin-top: 55px;
        padding: 20px 40px;
      }
    }
  }
}

.nav-row {
  padding-top: 25px;
}

.nav-brand {
  margin-top: 0px;
  color: #cd2b2e;
  float: right;
}

/* == LATEST PRODUCTS ==*/
section.latest-products {

  img {
    outline: 2px solid #fff;
    outline-offset: -20px;
  }

  .collections {
    
    .img-title {
      color: #fff;
      position: absolute;
      margin: 45% 35%;
    }
  }

  .sales {
    margin-top: 25px;
    margin-bottom: 25px;
    
    
    .img-title {
      color: #fff;
      position: absolute;
      margin: 20% 35%;
    }

    hr.top {
      position: absolute;
      margin: 20% 41%;
      border: 1px solid #fff;
    }

    hr.bottom {
      position: absolute;
      margin: 40% 41%;   
      border: 1px solid #fff;
    }
  }
}

/* == TRENDING-ITEMS ==*/
section.trending-items {
  padding: 0 0 10px 0;
  @media (min-width: 768px) {
    padding: 0 0 40px 0;
  }
  // change me: 
  background-color: gray;

  .trending-product-title {
    margin: 25px 0 10px 0;
  }

  .trend-hr {
    width: 30px;
    border-color: #000;
    margin: 40px 0 40px 0;
  }

  .tip-title {
     margin: 50px 0 0 0;
  }

  .shop {

    @media (min-width: 768px) {
      margin: 70px 0 0 0;
    }

    button {
      border: 1px solid #light-gray;
      border-top: 1px solid gray;
      border-radius: 0px;
      margin: 10px 10px 10px 0;
      padding: 10px 20px;
    }
  }
}

// ==  BLOG ==//
section.blog {
  .article {
    margin: 10px 0;
  }
  @media (min-width: 768px) {
    .caption {
      margin: 10px 0;
    }
  }

  h3 {
    color: red;
  }
  
  .btn {
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 0;
  }
  
  p {
    margin: 40px 0;
  }
}
