// == FOOTER ==//
section.subscribe {
  margin: 25px 0 0 0;
  padding: 20px 0 0px 0;
  background-image: url('../images/subscribe_bg.jpg');
  background-repeat: no-repeat;

  // add media query
  @media (min-width: 768px) {
    padding: 40px 0 40px 0;
  }

  h4 {
    color: #fff;
  }

  input {
    margin-top: 15px;
    width: 92%;
    height: 50px;
    border: 1px solid rgba(255,255,255, .50);
    background: rgba(0,0,0,.30);
    padding: 15px;
  }

  input::-webkit-input-placeholder {
    color: rgba(255,255,255, .50);
  }

  button {
    margin: 15px 0 25px 0;
    padding: 14px 50px; 
    border: 1px solid rgba(255, 255, 255, .50);
    background-color: transparent;
    color: rgba(255, 255, 255, .50);
    border-radius: 0px;
  }

  #shopNow {

  }

  #sizeGuide {
    margin-left: 5px;
  }
}
