/* == LATEST PRODUCTS ==*/
section.latest-products {
  h3 {
    margin: 0;
  }

  img {
    outline: 2px solid #fff;
    outline-offset: -20px;
  }

  .img-title {
    color: #fff;
    z-index: 1;
    margin: 0;
    position: absolute;      
    top: 50%;                         
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
  }

  .sales {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}