/* == TRENDING-ITEMS ==*/
section.trending-items {
  padding: 0 0 10px 0;
  @media (min-width: 768px) {
    padding: 0 0 40px 0;
  }
  // change me: 
  background-color: #EEEEEE;

  .trending-product-title {
    margin: 5px 0 10px 0;
  }

  .trend-hr {
    width: 175px;
    border-color: #000;
    margin: 5px 0 5px 0;
  }

  .tip-title {
     margin: 10px 0 0 0;
  }

  .shop {

    // /* Medium devices (desktops, 992px and up) */
    // @media (min-width: @screen-md-min) {}
    @media (min-width: 992px) {
      
    }

    button {
      border: 1px solid #light-gray;
      border-top: 1px solid gray;
      border-radius: 0px;
      margin: 10px 10px 10px 0;
      padding: 10px 20px;
    }
  }
}